.idea/
.vscode/
coverage/
deploy/
dist/
node_modules/
ssl/
umd/

.DS_Store
.screen_layout
npm-debug.log*

src/external-name.js
demo/
!demo/.footer.html
farmstand/*.html
!farmstand/*.template.html
*-wps-hmr.json
translation-keys.js
